body{
    /* background: rgb(195,68,86); */
    overflow-x: hidden;
}

section:not(.tabs){
    position: relative;
    /* height:100vh; */
    width:100%;
    padding-bottom:50px; 
    padding-top:50px;
}

@media screen and (min-width:468px){
    section{
        position: relative;
        height:100vh;
        width:100%;
        padding-bottom:50px; 
        padding-top:50px;
    }
}

section:first-child {
    padding-top: 0px; /* limits the scope of the previous rule */
}

@media (min-width: 992px) {
    section{
        padding-bottom: 100px;
    }
}

a {
    color: #fff;
}

a:hover{
    cursor: pointer;
}

a:visited{
    color: #fff;
}

::-webkit-input-placeholder{
    /* color:#c04355; */
    font-weight: bold;
    opacity: 0.8;
    padding: 2px;
}

::-moz-placeholder {
    /* color:#c04355; */
    font-weight: bold;
    opacity: 0.8;
    padding: 2px;
}

::placeholder{
    /* color:#c04355; */
    font-weight: bold;
    opacity: 0.8;
    padding: 2px;
}